/** @format */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #171616;
  background-color: #f7f7f7;
}

.wrapper {
  min-height: 100%;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.collapse:not(.show) {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.pagetitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.pagetitle h1 {
  font-size: 1.5rem;
}
.pagetitle h2 {
  font-size: 1.25rem;
}
.pagetitle h3 {
  font-size: 1rem;
}
.pagetitle h4 {
  font-size: 0.875rem;
}
.pagetitle h5 {
  font-size: 0.75rem;
}
.pagetitle h6 {
  font-size: 0.625rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0;
}

.header-top-nav .wrapper {
  margin-left: 0;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 360px) {
  .container,
  .container-sm {
    /* screen for mobile */
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

.container-center {
  display: flex;
  justify-content: center;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

.main-header .brand-image {
  margin-top: -0.5rem;
  margin-right: 0.2rem;
  height: 33px;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
